/*HEADER*/

.wrapper {
    position: relative;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    height: 80px;
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
}

.header_container {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo_img {
    height: 100px;
    margin-top: 10px;
}

.links {
    display: flex;
    gap: 50px;
}

.links h2 {
    transition: box-shadow 0.3s ease;
}

.links h2:hover {
    cursor: pointer;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.links h2:hover:after {
    transform: scale(1);
    transition: transform 0.3s ease;
}

.btn_reg {
    width: 80px;
    height: 35px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.3);
}

/*INFORMATION*/

.information_block {
    position: relative;
    background-image: url(../../public/hogwarts.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.information_block::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25%;
    background: linear-gradient(to bottom, rgba(0, 0, 0,0.1), rgba(0,0,0,1));
}

.information_block .container {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.hp {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 850px;
    margin-top: -300px;
}

.description {
    display: flex;
    gap: 20px;
    margin-left: -20px;
}

.hp img {
    width: 536px;
    height: 120px;
}

.hp p {
    font-size: 1.2em;
}

.posters {
    display: flex;
    gap: 100px;
    margin-right: -50px;
}

.posters img {
    height: 380px;
    margin-bottom: -350px;
    border-radius: 10px;
}

/*Rowling*/

.rowling_block{
    background-color: black;
    display: flex;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.rowling_block .container {
    display: flex;
    flex-direction: column;
}

.rowling_bio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rowling_imgs {
    position: relative;
    display: flex;
    /*gap: 25px;*/
}

.rowling_block img {
    height: 400px;
    transition: left 2s ease;
}

@keyframes zoomIn {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.3);
    }
}

.rowling_block img:hover{
    animation: zoomIn 1s ease forwards;
}


.rowling_block h2 {
    font-size: 2.3em;
    margin: 0;
    font-family: math;
}

.rowling_block p {
    width: 780px;
    font-size: 1.2em;
    text-align: center;
}

.rowling_imgs {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-bottom: -100px;
}

/*BOOKS*/

.books_block {
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.books_block .container {
    display: flex;
    flex-direction: column;
}

.books {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title h2 {
    font-size: 2em;
}

.title p {
    font-size: 1.5em;
}

.book {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.book h2 {
    font-size: 1.1em;
}

.book img {
    height: 400px;
}

/*FILMS*/

.films_block {
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.films_block .container {
    display: flex;
    flex-direction: column;
}

.films {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title h2 {
    font-size: 2em;
}

.title p {
    font-size: 1.5em;
}

.film {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.film h2 {
    font-size: 1.1em;
}

.film img {
    width: 270px;
    height: 400px;
}



/*FANTASTIC BEASTS*/

.films_blockFB {
    background-color: black;
    display: flex;
    justify-content: center;
}

.films_blockFB .container {
    display: flex;
    flex-direction: column;
}

.filmsFB {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title h2 {
    font-size: 2em;
}

.title p {
    font-size: 1.5em;
}

.filmFB {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.filmFB h2 {
    font-size: 1.1em;
    text-align: center;
    width: 380px;
}

.filmFB img {
    width: 270px;
    height: 400px;
}

/*FOOTER*/

.footer {
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer .container {
    display: flex;
    flex-direction: column;
    margin: 50px;
    padding: 10px 50px;
    border: 1px solid #696b78;
}

.links_footer {
    display: flex;
    gap: 300px;
}

.link {
    display: flex;
    gap: 50px;
}

.link h2 {
    transition: box-shadow 0.3s ease;
}

.link h2:hover {
    cursor: pointer;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.link h2:hover:after {
    transform: scale(1);
    transition: transform 0.3s ease;
}

.content {
    display: flex;
    gap: 500px;
    margin-top: -60px;
}

.text {
    width: 600px;
}

.social {
    display: flex;
    gap: 20px;
    justify-content: end;
}

.social_block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 50px;
}

